.nav-link {
	color: #FFF224 !important;
	font-weight: bold !important;
	text-shadow: -2px 2px #000000 !important;
}

.nav-link:hover {
	background-color: white;
}

.navbar.navbar-expand-lg.navbar-light.fixed-top{
	background-color: #54b4e6 !important;
}

.navbar-brand {
	font-size: 26px !important;
	color: #FFF224 !important;
	font-weight: bold !important;
	text-shadow: -2px 2px #000000 !important;
	font-family: 'Rock Salt', cursive;

}
.card-header {
	background-color: #FFFFFF;
	text-align: center;

}

.btn.btn-link {
	color:  #54b4e6;
}

.card {
	margin-top: 20px;
	text-align: center;
	border: 5px solid #000000;
}

.img-thumbnail {
    background-color: #FFF224;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

body{
	background-image: url("../img/back.png") !important;
	margin: 65px auto 50px auto !important;
}

h1 {
	color: #FFF224 !important;
	font-weight: bold !important;
	text-shadow: -2px 2px #000000 !important;
}

.footer.fixed-bottom {
	background-color: yellow;
	color: black !important;
}
